@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background: #eff3f8;
}

.container {
  max-width: 1366px;
  width: 95%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

header {
  background-color: #171717;
  width: 100%;
  padding: 1.5em 0;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  font-size: 18px;
}

nav ul li a.active {
  color: #ffae42;
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
  padding: 14px 28px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  border: none;
  border-radius: 7px;
}

.btn__primary {
  background: #171717;
  color: white;
}

.btn__primary:hover {
  background: #3a3a3a;
}

.btn__view {
  background: #51ff49;
}

.btn__view:hover {
  background: #39f12f;
}

.btn__delete {
  background: #f47171;
  color: white;
}

.btn__delete:hover {
  background: #fd5a5a;
}

/* add form  */
.add__member {
  margin: 3em 0;
}

.add__member__form {
  max-width: 668px;
  width: 100%;
  margin: 0 auto;
}

.add__member__form input {
  width: 100%;
  background: #ffffff;
  border-radius: 7px;
  padding: 14px 20px;
  border: none;
  margin: 0.4em 0;
  outline-color: rgb(209, 209, 209);
  font-size: 18px;
}

.photo__input input {
  display: none;
}

.photo__input label {
  padding: 20px;
  margin: 10px 0;
  display: block;
  border: 1px dotted #ffbf67;
  color: #a1a1a1;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  font-size: 18px;
}

.message {
  background: #fe5637;
  color: white;
  max-width: 668px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: block;
  padding: 20px;
}

/* view member  */

.view__member {
  margin: 40px 0;
}

.view__member__table {
  width: 100%;
  text-align: left;
}

.view__member__table thead,
.view__member__table tr {
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(216, 216, 216, 0.25);
  width: 100%;
}

.view__member__table th,
.view__member__table td {
  padding: 20px 0;
  padding-left: 15px;
}

.profile {
  margin: 40px;
  color: #5b5b5b;
  font-weight: normal;
  text-align: center;
}

.profile h4 {
  margin: 15px 0;
}

.profile__info img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.company__info img {
  max-width: 600px;
  width: 100%;
  margin: 15px;
}

.loading {
  padding: 20px;
  text-align: center;
  font-size: 20px;
}
